@import '../../style/variables.scss';

.mobility-block {
    padding: 0 2px 2px 2px;
    min-width: 12rem;
    border-radius: $corner-radius;

    &__header {
        text-transform: uppercase;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        font-size: 1rem;

        &-label {
            text-align: center;
            flex: 1 20%;
            padding: 2px;
            display: flex;
            flex-direction: column;
        }
    }

    &__body {
        background-color: white;
        border-radius: 4px;
    }
    &__row {
        display: flex;
        flex-direction: row;
        font-weight: normal;
        &-cell {
            padding: 2px;
            text-align: center;
            flex: 1 20%;
            font-weight: 600;
            font-size: 1.2rem;

            .metric-unit {
                font-size: 0.9rem;
            }
        }
        &-cell:not(:first-child) {
            border-left: 1px solid var(--base-color);
        }
    }
}
