@import '../../style/variables.scss';

.save-block {
    padding: 0 2px 2px 2px;
    min-width: 120px;
    border-radius: $corner-radius;
    margin-bottom: 8px;
    background-color: var(--base-color);

    &__header {
        text-transform: uppercase;
        text-align: center;
        color: white;
    }

    &__content {
        background-color: white;
        padding: 1px;
        border-radius: $corner-radius - 2px;
    }

    &__rating {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-label {
            text-align: center;
            flex: 1 auto;
            padding: 2px;
            display: flex;
            flex-direction: column;

            &-name {
                font-size: 10px;
                line-height: 14px;
                font-style: italic;
            }

            &-attribute {
                font-weight: bold;
                font-size: 12px;
                line-height: 10px;
                font-style: italic;
            }
        }

        &-number {
            padding: 2px;
            font-weight: bold;
            width: 20px;
            text-align: center;
            font-size: 18px;
        }

        &--primary {
            background-color: $primary-value-color;
            font-weight: bold;
            text-transform: uppercase;
            color: white;
            height: 18px;
            border-radius: $corner-radius - 3px;
        }
        &--secondary:nth-child(n+3) {
            border-top: 1px solid rgb(230,230,230);
        }
    }
}
