@import '../../style/variables.scss';

.weapons-block {
    padding: 0 2px 2px 2px;
    min-width: 120px;
    border-radius: $corner-radius;

    &__header {
        text-transform: uppercase;
        text-align: center;
        color: white;
        flex-direction: row;
        font-size: 10px;
        display: grid;
        grid-template-columns: calc(40% - 64px) 64px 96px 32px 32px auto;
        align-items: center;

        &-cell:first-child {
            text-align: left;
            padding-left: 8px;;
        }

        &-cell {
            text-align: center;
            padding: 2px;
            display: flex;
            flex-direction: column;
        }
    }

    &__body {
        background-color: white;
        border-radius: 4px;
    }
    &__row {
        display: grid;
        flex-direction: row;
        font-weight: normal;
        grid-template-columns: calc(40% - 64px) 64px 96px 32px 32px auto;

        &--direct-fire {
            .weapons-block__row-cell:first-child {
                padding-left: 20px;
            }
        }

        &-cell:first-child, &-cell:last-child {
            text-align: left;
            padding-left: 6px;;
        }
        &-cell {
            padding: 2px;
            text-align: center;
            font-weight: 600;
            font-size: 12px;

            .metric-unit {
                font-size: 9px;
            }

            &--rate-of-fire {
                display: flex;
                flex-direction: row;
                p {
                    border-left: 1px solid var(--base-color);
                    width: 50%;
                    text-align: center;
                }
            }
            &--bombardment {
                border-bottom: 1px solid black;
                border-left: 1px solid var(--base-color);
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
            }
        }
        &-cell:not(:first-child) {
            border-left: 1px solid var(--base-color);
        }
        &-cell:last-child {
            font-style: italic;
            font-size: 10px;
        }
    }
    .weapons-block__row:not(:first-child) {
        .weapons-block__row-cell--bombardment {
            border-top: 1px solid var(--base-color);
        }
    }
}
