@import '../style/variables.scss';

.app {
    height: 100vh;
    width: 100vw;

    &__header {
        background-color: var(--base-color);
        height: 6.4rem;
        width: 100vw;
        color: white;
        position: fixed;
        z-index: 10;
        display: flex;
        flex-direction: row;

        a {
            color: white;
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 0.05rem;
            height: 6.4rem;
            // border-bottom: 4px solid white;
        }
        h1, a {
            padding: 2px;
            margin: 0 16px;
        }
    }
    &__main {
        display: flex;
        flex-direction: row;
        height: 100%;
        padding-top: 6.4rem;
    }
    &__edit-pane {
        flex: 1 50%;
        height: 100%;
        overflow-y: scroll;
        border-right: 1px solid rgb(225, 228, 232);
        max-width: 500px;
    }
    &__preview-pane {
        background-color: rgb(250, 251, 252);
        height: 100%;
        overflow-y: scroll;
        flex: 1 50%;
        min-width: 556px;
        padding: 8px;
    }
}
