.card-editor {

    &__toolbar {
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;

        Button {
            margin-left: 1.6rem;
        }

        Button:first-of-type {
            margin-left: 0;
        }
        
        Button:last-of-type {
            margin-left: auto;
        }
    }


    .MuiFormControl-root {
        width: 100%;
    }

    &__section {
        border-bottom: 1px solid rgb(234, 236, 239);
        padding: 24px;

        .sub-section {
            border-bottom: 1px solid rgb(234, 236, 239);
            padding-bottom: 24px;
        }
    }
    &__input-row, &__sub-section {
        margin: 1.6rem 0;
    }

    label {
        margin-bottom: 0.4rem;
        line-height: 20px;
        display: block;
    }

    input, textarea {
        padding: 3px 8px;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid rgb(225, 228, 232);
        background-color: rgb(250, 251, 252);
        width: 100%;
        display: block;
        font-weight: bold;
    }
    textarea {
        resize: none;
        height: 64px;
    }

    &__sub-section {
        display: grid;
        grid-template-columns: 3.2rem 3fr 1fr;
        grid-template-rows: 6.4rem 6.4rem;
        column-gap: 0.8rem;
        row-gap: 0.8rem;

        label, input {
            display: block;
        }

        .delete-button {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: 3.2rem;
            height: 3.2rem;
        }
        .name-input {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
        }
        .attribute-select {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
        .value-input {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    }
}


/*

focus
background-color: rgb(255, 255, 255);
background-position-x: 8px;
background-position-y: 50%;
border-bottom-color: rgb(3, 102, 214);

*/
